body{
    margin: 0;
    display: block;
    background-color: #765827;
    font-family: 'Abhaya Libre', serif;
}
/* navigation part */
.header{
    background-color: #65451F;
}
.logo{
    border-style: solid;
    position: absolute;
    width: 120px;
    height: 120px;
    border-color: black;
    border-radius: 50%;
    margin-top: 12px;
    margin-left: 10vmin;
    
}
.logo img{
    width: 120px;
    height: 120px;
}
.mobile-nav-icon {
    font-size: 100px;
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    height: 150px;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 40%;
}

.navbar li {
    margin-right: 20px;
    font-size: 30px;
}

.navbar a {
    color: #EAC696;
    text-decoration: none;
}

.mobile-nav-icon {
    text-align: center;
    width: 140px;
    height: 140px;
    padding: 5px;
    font-size: 66px;
    display: none;
}

/* Responsive Collapse Navigation Bar (Hambuger Menu) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
    }
    .navbar ul {
        flex-direction: column;
        margin-top: 0;
        padding-left: 0%;
    }

    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .navbar {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
        width: 100px;
        height: 100px;
    }
    .mobile-nav-icon:hover+.navbar {
        display: block;
    }
    .navbar:hover {
        display: block;
    }
    .logo{
        right: 15px;
        width: 80px;
        height: 80px;
    }
    .logo img{
        width: 80px;
        height: 80px;
    }
}
/* backpart */
.footer{
    height: 100px;
    width: 100%;
    margin: auto;
    display: grid;
    position: static;
    margin-top: 10px;
    background-color: #65451F;
}
.end_bar ul{
    list-style-type: none;
    text-align: center;
}
.end_bar li{
    display: inline-block;
}
.end_bar a {
    color: #EAC696;
    text-decoration: none;
    padding-left: 10px;
}

/* category part */
.title{
    text-align: center;
}
.title a{
    color: #EAC696;
    text-decoration: none;
    font-size: 8vmin;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product {
	width: 33.33%;
	margin-bottom: 40px;
    text-align: center;
}

.product img {
	width: 300px;
    height: 450px;
}

.product h2 {
	font-size: 4vmin;
	margin: 20px 0 10px;
    color: #EAC696;
}

button {
	background-color: #65451F;
	color: #EAC696;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5px;
}
.category-name{
    color: #EAC696;
    text-align: center;
    font-size: 6.5vmin;
}
/* Hover link opacity */
a:hover{
    opacity: 50%;
}

/* Responsive 1-column Layout */
@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column;
        padding: 0px 30px;
	}
	
	.product {
		width: 100%;
		margin-bottom: 40px;
	}
}
/* Responsive 2-columns Layout */
@media (min-width: 768px) and (max-width: 992px) {
    .product {
        width: 50%;
    }
}
/* book detail specific*/
.detail_bar ul{
    list-style-type: none;
    text-align: center;
}
.detail_bar li{
    display: inline-block;
}
.detail_bar a, p {
    color: #EAC696;
    text-decoration: none;
    font-size: 50px;
}
#detail{
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 33.33%;
}
#detail h1{
    color: #EAC696;
}
.table_container img{
    width: 300px;
    height: 450px;
}
.table_container {
    display: grid;
    place-items: center;
    height: 100%;
}
.table_container table{
    width: 60%;
}
.small_img img{
    width: 150px;
    height: 150px;
}
.descriptions{
    margin: auto;
    width: 80%;
}
.descriptions h1{
    font-size: 7vmin;
    color: #EAC696;
}
.descriptions p {
    font-size: 4vmin;
    color: #EAC696;
}
/* Change display table for mobile */
@media (max-width: 768px) {
    .table_container td{
        display: table-row;
    }
    .small_img_container{
        display: flex;
    }
    .detail_bar a, p{
        font-size: 30px;
    }
}
/*text for footer pages*/
.text-only{
    color: #EAC696;
    padding: 10%;
}
.text-only p, 
.text-only h1,
.text-only h2,
.text-only h3,
.text-only a{
    font-size: 100%;
}
/* text for cart page */
.Purchased{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: #EAC696;
    border-style: solid;
}
#last_page{
    min-height: 100vh;
}
#last_page_footer{
    position: absolute;
    bottom: 0;
}
/* contact us form */
.contact{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}
label{
    font-size: clamp(20px, 2vw, 100000px);
    color: #EAC696;
}
select, input{
    font-size: clamp(10px, 2vw, 100000px);
}
input.square_checkbox{
    width: clamp(20px, 2vw, 100000px);
    height: clamp(20px, 2vw, 100000px);
}
input.circle_checkbox{
    width: clamp(20px, 2vw, 100000px);
    height: clamp(20px, 2vw, 100000px);
}
legend{
    font-size: clamp(20px, 1vw, 1000px);
    color: #EAC696;
}
.contact h1{
    text-align: center;
    font-size: clamp(20px, 2vw, 100000px);
    color: #EAC696;
}
textarea{
    width: clamp(140px, 80%, 100000px);
}
/* mobile size for form */
@media (max-width: 768px) {
    label, input, select, textarea {
      display: block;
    }
}